html, body {
    height: 100%;
    margin: 0;
  }

body{
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: #303030;    
    display:flex;
    flex-direction: column;
}

.container {
    width: 1040px;
    margin: 0 auto;
}

#coucou {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B3B3B;
    box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.2);
}

main{
    color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.index {
    align-items: center;
}

main h2{
    font-size: 36px;
    font-weight: 400;
}

main h1{
    font-size: 64px;
    font-weight: 600;
}

main button, .goCit{
    background-color: #3EA4B2;
    color: white;
    border: 1px solid black;
    width:10%;
    height: 30px;
    border-radius:50px;
}

main button:hover, .goCit:hover{
    background-color: #37929e;
}

.logoTitle{
    display:flex;
}

.logo {
    width: 68px;
    height: 68px;
    margin: 10px;
}

.titre{
    font-weight: 300;
    font-size:24px;
    margin: auto;
    color: white;
}

ul{
    display:flex;
    padding-right: 20px;
    color: white;
}

.navigation li {
    padding: 10px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.navigation li:hover{
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);
}

footer{
    background-color: #4F4F4F;
    width: 100%;
    height:40px;
    margin-top: auto;
    text-align: center;
    color: white;

}

h6{
    font-weight: 300;
    margin:0;
}

.home, .citations{
    text-align: left;
    padding-left: 20px;
}

.lastCit {
    border: White solid 1px;
}

#seeMore{
    text-align: right; 
    margin-right: 30%;
    padding-top: 20px;
}


.allCitations, .soloCitation {
    border: White solid 1px;
    background-image: url('../img/d15talx-e1f9b174-8944-4688-b3af-bb437daba91d.jpg');
    border-radius: 50px;
}

.soloCitation {
    background-image: url('../img/fonds-ecran-paysage-de-reve-1.jpg');
    height: 100%;
}


.allCitations p, .soloCitation p {
    text-align: center;
    font-size: 24px;
}

.allCitations h6, .soloCitation h6{
    text-align: right;
    padding-right: 15%;
    font-size:18px;
    margin-bottom: 10px;
}

.auteurs ul{
    display: flex;
    list-style-type: none;
}


.allAutors li{
    margin: 10px;
    font-size: 18px;
}

#modif {
    display: flex;
    justify-content: space-between;
}

.option {
    display: flex;
}

.option p {
    font-size: 18px;
    padding-left: 20px;
}

.edit {
    align-items: center;
}

.edit form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.edit form .description {
    border-radius: 50px;
    height: 100px;
    width: 100%;
    margin: 50px;
    word-wrap: break-word;
    text-align:left;
}

.add {
    text-align: right;
}

.ajouter {
    width: 150px;
    height: 50px;
}

.formAdd {
    height:100%;
}

.formAdd form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formAdd form input {
    width: 90%;
    padding: 10px
}

.chooseAutor{
    display: flex;
    height: 100px;
    flex-direction: column;
}
